<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owner page</title>
</head>
<body>
<h3>Owners Page</h3>
<p th:text="'list of Owners'"></p>

<table class="table table-striped">
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>
    <tr th:each="objeto: ${owners}"> <!-- for(Owner owner : owners) -->

        <td th:text="${objeto.id}"></td>
        <td th:text="${objeto.firstName}"></td>
        <td th:text="${objeto.lastName}"></td>
    </tr>

</table>
</body>
</html>